parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Enums\\ReservationStatus\:\:getColor\(\) never returns array\<string\> so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Enums/ReservationStatus.php

		-
			message: '#^Method App\\Enums\\ReservationStatus\:\:getColor\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Enums/ReservationStatus.php

		-
			message: '#^Method App\\Enums\\ReservationStatus\:\:getIcon\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Enums/ReservationStatus.php

		-
			message: '#^Cannot call method copy\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Filament/Resources/Reservations/Schemas/ReservationForm.php

		-
			message: '#^Cannot call method isToday\(\) on string\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Filament/Widgets/TodayActivity.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$check_in\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/RoomController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$check_out\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/RoomController.php

		-
			message: '#^Cannot call method diffInDays\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Models/Reservation.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Notifications/ReservationCreated.php
